@import "colorvar";

.contact {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.contact__title {
  color: $primarycolor;
  font-family: Mulish, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact__inputs {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.contact__item {
}
