.btn__black{
  text-align: center;
  cursor: pointer;
  background-color: #171717;
  padding: 10px 15px;
  border-radius: 35px;
  box-shadow: 0 5px 8px 0 rgba(77, 76, 76, 0.40);

  color: #EBEBEB;
  font-family: Mulish, sans-serif;
  font-weight: 700;
  line-height: normal;
}

.btn__black:hover{
  transition: all .2s linear;
  background-color: #3a3a3a;
  box-shadow: 0 2px 5px 0 rgba(77, 76, 76, 0.40);
}
