@import "colorvar";

.route{
  padding-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.main__title {
  color: $primarycolor;
  font-family: Mulish, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__box{
  margin-bottom: 10px;
}
